<h1>Offers:</h1>

{{#each model as |offer|}}
    <h3>{{offer.name}}</h3>
    <p>{{offer.description}}</p>

    <p>By <b>{{offer.creator.username}}</b></p>
    <p>Currently doing it: <b>{{offer.handler.username}}</b></p>

    <h4>Applicants:</h4>
    <ul>
        {{#each offer.applicants as |applicant|}}
            <li>{{#link-to "user" applicant.id}}{{applicant.username}}{{/link-to}}</li>
        {{/each}}
    </ul>
{{/each}}
